{% extends 'base.html.twig' %}

{% block main %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div style="margin: 100px 200px 100px 200px">
        <div class="spec ">
            <h3>Creation d'un Employee</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="spec ">
            {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
           <center><input   class="btn btn-success btn-lg"  type="submit" value="Ajouter" /> </center>
            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}